<% provide(:title, "Conversations")%>
<div class="mailbox">
  <h3>Mailbox</h3>
  <% a = 0 %>
  <div class = "item">
    <ul>
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id ||
            conversation.recipent_id == current_user.id %>

        <% if conversation.sender_id == current_user.id %>
          <% recipent = User.find(conversation.recipent_id) %>
        <% else %>
          <% recipent = User.find(conversation.sender_id) %>
        <% end %>
        <% a = 1 %>
        <% job = Job.find(conversation.job_id) %>
        <li>
          <%= link_to recipent.name,   conversation_messages_path(conversation)%>
          <%= link_to "#{job.title}", job, class: "message-job" %>  
        </li>
      <% end %>
    <% end %>
    </ul>
    <% if a==0 %>
      <p>You have no messages!</p>
    <% end %>
  </div>
</div>

