<% unless @applicants.empty? %>
	<h2 class = "center">Applicants</h2>
	<div class = "applicants_list">
		<table>
		
			<% @applicants.each do |user| %>

			 <tr>
				  <td><%= link_to "#{user.name}", user, target: "_blank" %></td>
				  <td><%= link_to "Uploaded Resume", user.resume.url, target: "_blank" %> </td>
				  <td>
				  	<%= link_to "Message", conversations_path(sender_id: current_user.id,
				  																							 recipent_id: user.id), method: :post%>
				  		
				  	</td>
				  <% unless @applicants_ids.find_by(user_id: user.id).apply? %>
 				    <td><%= link_to "Accept", @applicants_ids.find_by(user_id: user.id), method: :patch %> </td>
  				<% end %>
			  </tr>
			<% end %>
		</table>
	</div>
<% end %>